@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <header>
        <h3>Onderwerp</h3>
    </header>
    <p>
        Een polling applicatie laat aan gebruikers toe om een waardering of stemming
        uit te brengen over artikels of onderwerpen op je MVC website. Je mag het
        MVC project uit de eerste zit hiernaar aanvullen of je kan een nieuwe site
        aanmaken met een onderwerp naar keuze.
    </p>

    <header>
        <h3>Technisch</h3>
    </header>
    <p>
        RoR of ASP.NET.MVC
        Een deel van de site is enkel toegankelijk voor de administrator( Voorbeeld:
        Voor het maken van een algemeen overzicht over het aantal stemmen, meeste
        voorkeursstemmen, gemiddelde waardering… ).
        Het gebruik van een webservice of API wordt extra gewaardeerd.
    </p>
</article>