@{
    ViewBag.Title = "Home Page";
}

<h3>Werking</h3>
<ol class="round">
    <li class="one">
        <h5>Registreer</h5>
         Maak een account aan op de website.
    </li>

    <li class="two">
        <h5>Maak een poll</h5>
        Na je registratie maak je een poll aan.
    </li>

    <li class="three">
        <h5>Stemmen</h5>
        Laat vrienden, familie, onbekende hun stem uitbrengen.
    </li>
</ol>
